In [1]:
import pandas as pd

In [34]:
data_sensus = pd.read_csv("sensus.xlsx - Sheet1.csv")

In [35]:
data_sensus

,NO,NAMA,JENIS\rKELAMIN,USIA,DESA/KELURAHAN,RT,RW,KET.
0,1.0,AI ROSTINI,P,46.0,CIMERANG,2.0,5.0,NaN
1,2.0,AISAH,P,45.0,CIMERANG,2.0,5.0,NaN
2,3.0,ALDI NURYADI,L,23.0,CIMERANG,1.0,5.0,NaN
3,4.0,ALIYUDIN,L,66.0,CIMERANG,1.0,5.0,NaN
4,5.0,AMAN,L,51.0,CIMERANG,2.0,5.0,NaN
...,...,...,...,...,...,...,...,...
2542,NaN,YULI DAMAYANTI,P,38.0,CIMERANG,4.0,6.0,NaN
2543,NaN,YULIYANTI,P,41.0,CIMERANG,4.0,4.0,NaN
2544,NaN,YUSI SANTI ANGGRAENI,P,30.0,CIMERANG,2.0,4.0,NaN
2545,NaN,YUYUN YUNIATI,P,41.0,CIMERANG,4.0,6.0,NaN
2546,NaN,ZAENUDIN,L,39.0,CIMERANG,4.0,4.0,NaN

In [45]:
# Jumlah Perempuan ada: 1274 Perempuan
data_sensus.loc[data_sensus["JENIS\rKELAMIN"] == "P"].count() # or .shape

NO                 736
NAMA              1274
JENIS\rKELAMIN    1274
USIA              1274
DESA/KELURAHAN    1274
RT                1274
RW                1274
KET.                 9
dtype: int64

In [50]:
# Jumlah Perempuan ada: 1274 Perempuan
data_sensus.loc[data_sensus["JENIS\rKELAMIN"] == "P"].shape # or .count()

(1274, 8)

In [39]:
# Jumlah Laki-laki ada: 1270
data_sensus.loc[data_sensus["JENIS\rKELAMIN"] == "L"].count()

NO                 750
NAMA              1270
JENIS\rKELAMIN    1270
USIA              1270
DESA/KELURAHAN    1270
RT                1270
RW                1270
KET.                 3
dtype: int64

In [41]:
data_sensus.count()

NO                1487
NAMA              2545
JENIS\rKELAMIN    2545
USIA              2545
DESA/KELURAHAN    2545
RT                2545
RW                2545
KET.                12
dtype: int64

In [44]:
# ini adalah umur lebih dari 50.
data_sensus[(data_sensus['USIA'] > 50 )]

        NO          NAMA JENIS\rKELAMIN  USIA DESA/KELURAHAN   RT   RW KET.
3      4.0      ALIYUDIN              L  66.0       CIMERANG  1.0  5.0  NaN
4      5.0          AMAN              L  51.0       CIMERANG  2.0  5.0  NaN
8      9.0         ANUNG              P  68.0       CIMERANG  1.0  5.0  NaN
9     10.0         ANWAR              L  73.0       CIMERANG  1.0  5.0  NaN
13    14.0  ASEP BAHTIAR              L  56.0       CIMERANG  1.0  5.0  NaN
...    ...           ...            ...   ...            ...  ...  ...  ...
2530   NaN            UU              P  63.0       CIMERANG  2.0  4.0  NaN
2531   NaN           UUS              L  55.0       CIMERANG  2.0  4.0  NaN
2532   NaN         WAWAN              L  52.0       CIMERANG  4.0  6.0  NaN
2533   NaN          WIWI              P  78.0       CIMERANG  4.0  6.0  NaN
2534   NaN       Y A D I              L  51.0       CIMERANG  4.0  4.0  NaN

[763 rows x 8 columns]

In [54]:
# Yang pindah adalah 11 Orang
data_sensus.loc[data_sensus["KET."] == "pindah memilih"].count() # or .shape

NO                 5
NAMA              11
JENIS\rKELAMIN    11
USIA              11
DESA/KELURAHAN    11
RT                11
RW                11
KET.              11
dtype: int64

In [55]:
# Yang pindah adalah 11 Orang
data_sensus.loc[data_sensus["KET."] == "pindah memilih"].shape # or .shape

(11, 8)